<li class="icon icon-book-image-run" ng-controller="TreeController">
  <span class="title">Lecciones</span>
  <div class="hint">
    <div>
      <hr>
      <div class="row">
        <div class="col-md-12" id="leccionContainer">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar Lecciones..." ng-model="search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i> Buscar!</button>
            </span>
          </div><!-- /input-group -->
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Temas de Aplicación seleccionada</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="expand($event)" ng-repeat="leccion in cntndo | filter:search">
                <td>
                  <table class="table table-hover childtable">
                    <thead>
                      <tr>
                        <th><i class="icon-ribbon"></i> {{leccion.Titulo}} {{leccion.Leccion}}</th>
                      </tr>
                    </thead>
                    <tbody class="hide">
                      <tr>
                        <td ng-click="getLeccion()"><i class="icon-book-image-run"></i> Abrir Microsoft Office Excel y Archivos desde la Aplicación</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</li>