<li class="icon icon-home" ng-controller="ClasesController as clases">
  <h3 class="titlt0">Listado de programas</h3>
  <div class="hint mainContentApps">
    <div>
      <hr>
      <div class="row">

        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/outlook2010.png" style="height:60px;">
          <br>
          <b>Office Outlook</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'outlook-2010','#F4B616')">Ver contenidos »</a></p>
        </div>
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/accesss2010.png" style="height:60px;">
          <br>
          <b>Office Access</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'accesss-2010','#EA8DB4')">Ver contenidos »</a></p>
       </div>
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/excel2010.png" style="height:60px;">
          <br>
          <b>Office Excel Basico</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'excel-basico','#6BBF70')">Ver contenidos »</a></p>
        </div>
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/excel2010.png" style="height:60px;">
          <br>
          <b>Office Excel Avanzado</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'excel-aplicado','#6BBF70')">Ver contenidos »</a></p>
        </div>                        
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/powerpoint2010.png" style="height:60px;">
          <br>
          <b>Office PowerPoint</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'powerpoint-2010','#F16747')">Ver contenidos »</a></p>
        </div>
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/project2010.png" style="height:60px;">
          <br>
          <b>Office Project</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'project-2010','#92CC48')">Ver contenidos »</a></p>
        </div>
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/publisher2010.png" style="height:60px;">
          <br>
          <b>Office Publisher</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'publisher-2010','#00AC9A')">Ver contenidos »</a></p>
        </div>
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/word2010.png" style="height:60px;">
          <br>
          <b>Office Word</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'word2-2010','#6E90D2')">Ver contenidos »</a></p>
        </div>  
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/photoshop.jpg" style="height:60px;">
          <br>
          <b>Adobe Photoshop</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'photoshop','#5D83B7')">Ver contenidos »</a></p>
        </div>  

        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/internet.jpg" style="height:60px;">
          <br>
          <b>Internet</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'internet','#CAE6FE')">Ver contenidos »</a></p>
        </div>  
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/redessociales.png" style="height:60px;">
          <br>
          <b>Redes Sociales</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'redessociales','#688BC3')">Ver contenidos »</a></p>
        </div>  
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/tic.png" style="height:60px;">
          <br>
          <b>TIC</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'tic','#00939E')">Ver contenidos »</a></p>
        </div>  
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/w8.png" style="height:60px;">
          <br>
          <b>Windows 8</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'w8','#0CB3EE')">Ver contenidos »</a></p>
        </div> 
        <div class="col-md-3 hvr-underline-reveal">
          <img src="../img/clases/coreldraw.jpg" style="height:60px;">
          <br>
          <b>Corel Draw</b>
          <p><a class="btn btn-default" href="#t2" role="button" ng-click="clases.activaClase($event,'coreldraw','#ADBC23')">Ver contenidos »</a></p>
        </div> 
      </div>
    </div>
  </div>
</li>  