/* latin */
@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 400;
  src: local('Megrim'), url(9P_3onJTQHRtuAYFLfpNCuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*
#00AC9A
#6E90D2
#5D83B7
#CAE6FE
*/
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loader .line {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}
.loader .line.first {
  background: #3E4359;
}
.loader .line.second {
  background: #1F6FC6;
}
.loader .line.third {
  background: #8FBADA;
}
.loader .line.fourth {
  background: #fff;
}
.loader .mask {
  position: absolute;
  z-index: 2;
}
.loader .mask.horizontal {
  width: 100%;
  height: calc(50% - 1px);
}
.loader .mask.horizontal.top {
  top: 0;
}
.loader .mask.horizontal.bottom {
  bottom: 0;
}
.loader .mask.vertical {
  height: 100%;
  width: calc(50% - 1px);
}
.loader .mask.vertical.right {
  right: 0;
}
.loader .mask.vertical.left {
  left: 0;
}
.loader .mask.top-right {
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 271px 200px 0;
}
.loader .mask.bottom-left {
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 271px;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}
.loader .mask.top-left {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 271px 0 0;
}
.loader .mask.bottom-right {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 271px;
}
.loader.first {
  background: #fff;
}
.loader.first .mask {
  background: #fff;
}
.loader.second {
  background: #3E4359;
}
.loader.second .mask {
  background: #3E4359;
}
.loader.third {
  background: #1F6FC6;
}
.loader.third .mask.top-right {
  border-color: transparent #1F6FC6 transparent transparent;
}
.loader.third .mask.bottom-left {
  border-color: transparent transparent transparent #1F6FC6;
}
.loader.fourth {
  background: #8FBADA;
}
.loader.fourth .mask.top-left {
  border-color: #8FBADA transparent transparent transparent;
}
.loader.fourth .mask.bottom-right {
  border-color: transparent transparent #8FBADA transparent;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #fff;
}
.content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: "Megrim", cursive;
  font-size: 80px;
  color: white;
  text-align: center;
}
.content h1 .underline {
  position: relative;
  display: block;
  width: 160px;
  height: 5px;
  background: #000;
  margin-top: 20px;
  left: 50%;
  -webkit-transform: translateX(-48%);
      -ms-transform: translateX(-48%);
          transform: translateX(-48%);
}
